---
import Main from 'components/index.tsx';
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="AlpinaGen – ИИ платформа, объединяющая возможности различных нейронных сетей в удобном интерфейсе. AlpinaGen автоматизирует рутинные задачи и оптимизирует повседневные операции" />
		<title>AlpinaGen</title>
	</head>
	<body>
		<Main client:only="react" />
	</body>
</html>
